<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.email %></h1>
    <p>
      Your order at Jungle.com has been processed!
      Have a great day!
    </p>
  </body>
</html>